/* main.css
 * Sebastiaan Arendsen
 * 6060072
 * Programmeerproject
 *
 * Additional css file for the project.
 */

body {
    padding: 10px;
    /* Disable user text select, as this broke the drag function */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
    cursor: pointer;
}
#map {
    position: center;
    width: 90%;
    padding: 5px;
}
.plot {
    float: left;
    width: 50%;
    height 500px;
}
.plot svg {
    width: 100%;
    height: 550px;
    position: top;
}
.hover-plot {
    outline: #00FF00 dotted thick;
}
.drag-div {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.bar-label,
.scatter-label {
    font-family: sans-serif;
}
.dot {
    stroke: #293b47;
    /*fill: #7A99Ac;*/
}
.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
}
